<p id="notice"><%= notice %></p>

<h1>Compradors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ap paterno</th>
      <th>Ap materno</th>
      <th>Rut</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compradors.each do |comprador| %>
      <tr>
        <td><%= comprador.nombre %></td>
        <td><%= comprador.ap_paterno %></td>
        <td><%= comprador.ap_materno %></td>
        <td><%= comprador.rut %></td>
        <td><%= comprador.telefono %></td>
        <td><%= link_to 'Show', comprador %></td>
        <td><%= link_to 'Edit', edit_comprador_path(comprador) %></td>
        <td><%= link_to 'Destroy', comprador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comprador', new_comprador_path %>
