<%= form_with(model: ventum, local: true) do |form| %>
  <% if ventum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ventum.errors.count, "error") %> prohibited this ventum from being saved:</h2>

      <ul>
      <% ventum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
