<p id="notice"><%= notice %></p>

<h1>Vendedors</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ap paterno</th>
      <th>Ap materno</th>
      <th>Rut</th>
      <th>Telefono</th>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendedors.each do |vendedor| %>
      <tr>
        <td><%= vendedor.nombre %></td>
        <td><%= vendedor.ap_paterno %></td>
        <td><%= vendedor.ap_materno %></td>
        <td><%= vendedor.rut %></td>
        <td><%= vendedor.telefono %></td>
        <td><%= vendedor.cargo %></td>
        <td><%= link_to 'Show', vendedor %></td>
        <td><%= link_to 'Edit', edit_vendedor_path(vendedor) %></td>
        <td><%= link_to 'Destroy', vendedor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vendedor', new_vendedor_path %>
